<h4>Get in touch to discuss work, or to just talk about super geeky things!</h4>
<form name="contactform" novalidate ng-submit="sendmessage()">
	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			<label for="name">Name:</label>
			<input type="text" name="name" ng-model="name" placeholder="Name" required />
		</div>
		<div class="large-6 medium-6 small-12 columns">
			<label for="email">Email:</label>
			<input type="email" name="email" ng-model="email" placeholder="Email" required />
		</div>
		<div class="large-12 medium-12 small-12 columns">
			<label for="message">Message:</label>
			<textarea name="message" ng-model="message" placeholder="Your Message" required></textarea>
		</div>
		<div class="large-12 medium-12 small-12 columns">
			<div class="g-recaptcha" data-sitekey="6LecfP8SAAAAAI54lKDEMa9FbChiKb4PNKw3sTvo" data-callback="setresponse"></div>
		</div>
		<div class="large-12 medium-12 small-12 columns">
			<input type="submit" ngClick="Submit">
		</div>
	</div>
</form>