<footer>
	<div class="row">
		<div class="large-8 medium-7 small-12 columns">
			<h3>A little bit about me&hellip;</h3>
			<article>
				<ul>
					<li><b>Current Location:</b> San Francisco, CA, United States (Earth in general)</li>
					<li><b>Favorite Languages/Frameworks:</b> JS (ES6, Angular, React, Node), Sass, Anything really</li>
					<li><b>Hobbies:</b> Competitive Gaming, Physics, Road-tripping, Travelling, Photography</li>
					<li><b>Currently in the job market?:</b> <a ui-sref="contact">Mebbeh.</a></li>
				</ul>
			</article>
		</div>
		<div class="large-4 medium-5 small-12 columns">
			<h3>Get in touch&hellip;</h3>
			<article>
				<ul>
					<li><b>Twitter:</b> <a href="http://twitter.com/habazzi" target="_blank">@habazzi</a></li>
					<li><b>Github:</b> <a href="http://github.com/hassanbazzi" target="_blank">/hassanbazzi</a></li>
					<li><b>LinkedIn:</b> <a href="http://linkedin.com/in/habazzi" target="_blank">/habazzi</a></li>
					<li><b>Email:</b> <a href="mailto:contact@hassanbazzi.com">contact@hassanbazzi.com</a></li>
				</ul>
			</article>
		</div>
	</div>
</footer>
