<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
	<li>
		<article>
			<a href="http://demo.areyouahuman.com/truengage" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/ayah_logo.png">
				</div>
			</a>
			<h4>Truengage&reg; Demos</h4>
			<p>Developed a demo page that showcased all Truengage&reg; products</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://demo.areyouahuman.com/native" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/ayah_logo.png">
				</div>
			</a>
			<h4>Native&reg; Demos</h4>
			<p>Developed a demo page that showcased all Native&reg; products</p>
			<p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://fairlaneclub.com" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/fairlane.png">
				</div>
			</a>
			<h4>The Fairlane Club</h4>
			<p>Developed a complete responsive Wordpress Website with a custom and easy back-end system.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://alameerrestaurant.com" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/alameer.png">
				</div>
			</a>
			<h4>Al-Ameer Restaurant</h4>
			<p>A complete restaurant website including CSS food menus, online ordering, and more&hellip;</p>
		</aarticle>
	</li>
	<li>
		<article>
			<a href="http://partdadvisors.com/" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/partd.png">
				</div>
			</a>
			<h4>PartD Advisors</h4>
			<p>A website that utilized a ton of charts and data activity along with an advanced backend.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://www.hrscommunities.com/" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/hrs.png">
				</div>
			</a>
			<h4>HRS Communities</h4>
			<p>A very robust backend system is powering this beautiful front-end responsive design.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://www.dimage.com/" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/dimage.png">
				</div>
			</a>
			<h4>Digital Image Studios</h4>
			<p>I developed a beautiful custom parallax website for Digital Image Studios that helped drive in more sales.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://www.jolivacreative.com/" target="_blank">
				<div class="image dark">
					<img src="_resources/img/logos/joliva.png">
				</div>
			</a>
			<h4>Joliva Creative</h4>
			<p>Joliva Creative's website details all their services and experience with a beautiful parallax design.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://www.fadetoblack.com/" target="_blank">
				<div class="image darker">
					<img src="_resources/img/logos/ftb.png">
				</div>
			</a>
			<h4>Fade to Black</h4>
			<p>This car tinting website needed to look cool and modern, and that's exactly what the final product was.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://www.e3pc.net/" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/e3pc.png">
				</div>
			</a>
			<h4>E3PC</h4>
			<p>Transformed this classic legal website to a fully responsive website.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://www.rupeerun.org/" target="_blank">
				<div class="image lighter">
					<img src="_resources/img/logos/rupee.png">
				</div>
			</a>
			<h4>Rupee Run</h4>
			<p>Rupee Run had a huge donations event coming up and they came for help for a quick and effective stream website.</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://reidglass.com/" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/reidglass.png">
				</div>
			</a>
			<h4>Reid Glass</h4>
			<p>Glass, Glass, Glass, and more Glass! Basically a website about  glass company. So yea&Ellips;</p>
		</article>
	</li>
	<li>
		<article>
			<a href="http://delphinusmt.com/" target="_blank">
				<div class="image lightest">
					<img src="_resources/img/logos/delphinusmt.png">
				</div>
			</a>
			<h4>Delphinus MT</h4>
			<p>Developed a professional website for Delphinus in order to showcase their medical products</p>
		</article>
	</li>
</ul>
<h4>...and many more awaiting to be added once I get some free time</h4>