<footer>
	<div class="row">
		<div class="large-8 medium-7 small-12 columns">
			<h3>A little bit about me&hellip;</h3>
			<article>
				<ul>
					<li><b>Current Location:</b> Detroit, MI, United States</li>
					<li><b>Favorite Languages:</b> AngularJS, NodeJS, CSS3</li>
					<li><b>Hobbies:</b> Competitive Gaming, Astronomy, Theoretical Physics</li>
					<li><b>Currently in the job market?:</b> Yes!</li>
				</ul>
			</article>
		</div>
		<div class="large-4 medium-5 small-12 columns">
			<h3>Get in touch&hellip;</h3>
			<article>
				<ul>
					<li><b>Twitter:</b> @habazzi</li>
					<li><b>Github:</b> /hassanbazzi</li>
					<li><b>Email:</b> contact@hassanbazzi.com</li>
				</ul>
			</article>
		</div>
	</div>
</footer>