<h3>I think <b>progressive web apps</b> are going to take over the world.</h3>
<h3>...and I want to make sure that happens.</h3>
<small class="text-center columns">Shoutout to Angular, React, Google Chrome Team, Service Worker, and ES6/7</small>
<div class="row grid">
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-desktop"></i>
		<h4>Responsive Front-end Applications</h4>
		<p>I build data-driven responsive web applications that are performant and delightful.</p>
		<small>Angular, React, Polymer, ES6/7</small>
	</div>
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-gears"></i>
		<h4>Scalable Back-end Architecture</h4>
		<p>I develop both basic and complex backend logic and build servers and architecture like a champ.</p>
		<small>NodeJS, Larvel, Mysql, MongoDB, WordPress</small>
	</div>
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-user"></i>
		<h4>UI/UX Design & Product Development</h4>
		<p>I design beautiful, user-friendly applications, and help lay out product strategies.</p>
		<small>Sketch, Chart.io, SQL, usability testing</small>
	</div>
</div>
<div class="row center-contents">
	<div class="large-12 columns">
		<a class="but expand" target="_self" href="http://hassanbazzi.com/_resources/files/Bazzi_Hassan.docx">Download my Resume</a>
	</div>
</div>
