<h3>I think <b>web apps</b> are going to take over the world.</h3>
<h3>...and I want to make sure that happens.</h3>
<small class="text-center columns">Shoutout to Angular, React, Google Chrome Team, Service Worker, and ES6/7</small>
<div class="row grid">
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-desktop"></i>
		<h4>Responsive Front-end Development</h4>
		<p>I build data-driven responsive web applications that are light-weight and minimal.</p>
		<small>AngularJS, HTML5, CSS3, Gulp, ES6</small>
	</div>
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-gears"></i>
		<h4>Scalable Back-end Development</h4>
		<p>I develop both basic and complex backend platforms for everyday users that are completely testable</p>
		<small>NodeJS, Larvel, Mysql, MongoDB, WordPress</small>
	</div>
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-user"></i>
		<h4>UI/UX Design & Prototype Development</h4>
		<p>I design and lay the foundation for successful, user friendly, and responsive interfaces.</p>
		<small>Pure HTML/CSS Prototypes, Adobe Photoshop, Notable</small>
	</div>
</div>
<div class="row center-contents">
	<div class="large-12 columns">
		<a class="but expand" target="_self" href="http://hassanbazzi.com/_resources/files/Hassan_Bazzi_Resume.docx">Download my Resume</a>
	</div>
</div>
