<h3>I'm a huge fan and user of <b>AngularJS</b>, <b>Sass</b>, <b>Gulp</b>, and <b>NodeJS</b>.</h3>
<h3>I have also started my journey at mastering <b>Ruby on Rails</b></h3>
<div class="row grid">
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-desktop"></i>
		<h4>Responsive Front-end Development</h4>
		<p>I build data-driven responsive web applications that are light-weight and minimal.</p>
		<small>AngularJS, HTML5, CSS3, Gulp, Bower</small>
	</div>
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-gears"></i>
		<h4>Scalable Back-end Development</h4>
		<p>I develop both basic and complex backend platforms for everyday users that are completely testable</p>
		<small>NodeJS, Larvel, Mysql, MongoDB, WordPress</small>
	</div>
	<div class="large-4 medium-4 small-12 columns">
		<i class="fa fa-user"></i>
		<h4>UI/UX Design & Prototype Development</h4>
		<p>I design and lay the foundation for successful, user friendly, and responsive interfaces.</p>
		<small>Adobe Photoshop, Pure HTML/CSS Prototypes</small>
	</div>
</div>